/* Estilos mínimos para el canvas del editor */
.editor-canvas {
  @apply relative cursor-default;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
  position: relative; /* Asegurar que el preview se posicione relativamente a este contenedor */
}

.editor-canvas canvas {
  @apply cursor-default;
  display: block;
  width: 100% !important;
  height: 100% !important;
}
